header{
background-color: rgb(226, 177, 215);
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
}
header h1{
    font-family: "Press Start 2P", system-ui;
    color: white;
    }
nav a{
    margin-left: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.4s;
    z-index:1000 ;
    font-family: "Literata", serif;
    }
nav a:hover{
    color: rgb(255, 43, 237);
    }
body{
    background-image: url(imagenfondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
